body{
    background-color: #eee;
    font-family: "Montserrat";
    text-align: center;
}

/* NAVBAR*/



.container-fluid{
    padding: 4% 15%;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    position: relative;
    right: 100px;
    text-align: right;
}

.nav-item{
    padding: 0px 15px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    position: relative;
    text-align: left;

}

#title .container-fluid{
    padding-top:1%;
}

/* TITLE*/

.row{
    padding-top: 2%;
}

.title-big{
    font-family: Montserrat;
    size: 4rem;
    font-size: 3.5rem;
    line-height: 1.5;
    color:white;
}

.image{
    width:25%;
    position: absolute;
    left: 60%;
    transform: rotate(25deg);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;    
}

.download-button{
    margin: 5% 3% 5% 0;
    position: relative;
    
}

/* FEATURES*/

#features{
    background-color: white;
    position:relative;
    z-index:1;
    padding:5% 2%;
    
}

.col-lg-4{
    margin-bottom: 25px;
    position: relative;

}

.fa-solid {
    color: #ef8172;
    margin-bottom: 30px;
}

.text-title-midle{
    font-size: 1.5rem;
    font-family: "Montserrat";
}

.text-midle{
    color:#8f8f8f;

}

.fa-solid:hover{
    color: #ff4c68;
}

/*TESTIMONIALS*/

#testimonials{
    background-color: #ef8172;
    color:white;

}

.testimonial-text{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    
}

.testimonio-image{
    width: 10%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 20px;
}

/* OJO PARA MODIFICAR LOS LIMITES Y ESPECIFICAR LA POSICION DE LAS FLECHAS
Y LOS INDICADORES DE LAS SECCIONES SE USA LA SIGUIENTE FUNCION Y OBTENER UN 
MEJOR RESULTADO*/
.carousel-item{
    padding: 5% 10%;
}

/* PRESS*/

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin-left: 50px;
}


/* PRICING*/

#pricing{
    margin: 2% 2%;
}

/*Se implementa @media para el uso de funciones cuando se modifica el 
tamaño de la pagina principal*/

@media (max-width: 992px) {
    .image{
        position:static;
        width: 40%;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    #title{
        text-align: center;
    }
}

/* CALL TO ACTION*/

#cta{

    background-color: #ff4c68;
    font-family: "Montserrat";
    color:white;
    padding: 5% 2%;
    font-size:50%;
    font-family: ;
}

.button-foot{
    margin: 2% 2%;
}

/*FOOTER*/

#footer{
    padding:3%;
    
}
.brand-foot{

    padding: 0% 2%;
    color:black;
}